<h3>Thank you! The code of your transaction is <%= @transaction.uid %>.</h3>

<ul class="links-list">
  <% %w(small large extra).each do |type| %>
    <li><%= link_to transaction_form_header(type), new_transaction_path(type: type) %></li>
  <% end %>
</ul>
